body {
    
    background-color: white;
    color: black; 
    margin-left: 43px;
    line-height: 80%; 
    font-family: 'Space Mono', monospace; 
    font-size: 11.5pt;

}

a:link {
    color: gray;
}

a:visited {
    color: red;
}

a:hover {
    color: pink;
}

a:active {
    color: brown;
}

p {
    margin-bottom: 10px;
    margin-left: 43px;
    margin-right: 100px;
    line-height: 1.2em;
}

h1 {
    margin-left:43px;
}

h2 {
    margin-left:43px;
}
